<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>ZH's Portfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Template by CocoBasic" />
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
    <meta name="author" content="CocoBasic" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./img/ZH.png" />
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='style.css' />


    <!--[if lt IE 9]>
                <script src="js/html5.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->
</head>

<body>

    <!-- Preloader Gif -->
    <div class="doc-loader">
        <img src="images/preloader.gif" alt="Loading">
    </div>

    <div id="content" class="site-content">

        <div class="content-left">
            <div class="content-left-wrapper">
                <header>
                    <div class="toggle-holder">
                        <div id="toggle">
                            <div class="menu-line"></div>
                        </div>
                    </div>

                    <div class="menu-holder">
                        <div class="menu-wrapper relative">
                            <nav id="header-main-menu">
                                <ul class="main-menu sm sm-clean">
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#service">Services</a></li>
                                    <li><a href="#my-clients">Clients</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#resume">Resume</a></li>
                                    <li><a href="#skills">Skills</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="top-pagination" aria-label="Page navigation">
                        <div class="current-num"><span id="current">01</span></div>
                        <div class="pagination-div" aria-hidden="true">
                          <div class="progress" id="progress"></div>
                        </div>
                        <div class="total-pages-num" id="total">07</div>
                      </div>

                    

                    <div class="portfolio-side-bar">
                        <div class="my-info-wrapper">
                            <div class="my-info">
                                <p class="my-info-title">NAME</p>
                                <p class="my-info-content">Zynn Htwe</p>
                            </div>
    
                            <div class="my-info">
                                <p class="my-info-title">ROLE</p>
                                <p class="my-info-content">Digital Marketing</p>
                            </div>
    
                            <div class="my-info">
                                <p class="my-info-title">EMAIL</p>
                                <p class="my-info-content">zynn.htwe@gmail.com</p>
                            </div>
    
                            <div class="my-info">
                                <p class="my-info-title">PHONE</p>
                                <p class="my-info-content">+1 (904) 305-0958</p>
                            </div>
    
                            
                        </div>
    
                        <img class="my-info-signature" src="img/signature.png" alt="" />
                    </div>

                    
                </header>
            </div>

        </div>

        <div class="content-right">
            <div class="content-right-wrapper">

                <!-- Home Section -->
                <div id="home" class="section full-width-section">
                    <div class="section-wrapper block">
                        <div class="home-left-part">
                            <p class="site-des">Hello. My name is</p>
                            <h1 class="entry-title">Zynn <p style="margin-top: 10px;">Htwe</p>
                            </h1>
                            <p class="site-info">
                                Whether you're looking to collaborate, hire, or just connect — I'm always open to new
                                opportunities. Let's chat about how we can bring your ideas to life.
                            </p>

                            <div class="social-links">
                                <a href="https://www.linkedin.com/in/zynn-htwe">LINKEDIN</a>

                                
                            </div>

                        </div>
                        <div>
                            <img src="./img/zynn-profile.jpg" alt="">
                        </div>
                    </div>
                </div>

                <!-- Service Section -->
                <div id="service" class="section">
                    <div class="section-wrapper block">
                        <div class="content-1300">
                            <h2 class="entry-title section-title">Services</h2>

                            <p>I offer tailored digital marketing services that bridge creative content with measurable
                                results. With 6+ years of experience across Myanmar and the U.S., I help brands connect
                                with their audience and grow through strategy, storytelling, and performance marketing.
                            </p>
                            <div class="row">
                                <div class="one-half width-55">
                                    <div class="services-wrapper">
                                        <div class="service-holder">
                                            <div class="service-flex">
                                                <img src="./img/1.png" alt="" />
                                                <h4 class="service-title">Strategies And Campaings</h4>
                                            </div>
                                            <div class="service-text">
                                                Developing and launching full-funnel digital campaigns across Meta,
                                                Google, and TikTok — aligned with your brand goals and optimized for ROI

                                            </div>
                                        </div>

                                        <div class="service-holder m-right-0">
                                            <div class="service-flex">
                                                <img src="./img/4.png" alt="" />
                                                <h4 class="service-title">Social Media Management</h4>
                                            </div>
                                            <div class="service-text">
                                                Content planning, platform-native creatives, community engagement, and
                                                performance tracking for Instagram, Facebook, Linkedin, and TikTok.

                                            </div>
                                        </div>

                                        <div class="service-holder m-bottom-0">
                                            <div class="service-flex">
                                                <img src="./img/2.png" alt="" />
                                                <h4 class="service-title">Branding & Content Design</h4>
                                            </div>
                                            <div class="service-text">
                                                Crafting visuals and messaging that reflect your brand's voice - using
                                                Canva, Adobe Suite, and storytelling techniques for consistency and
                                                appeal.
                                            </div>
                                        </div>

                                        <div class="service-holder m-right-0 m-bottom-0">
                                            <div class="service-flex">
                                                <img src="./img/3.png" alt="" />
                                                <h4 class="service-title">Analytics & Optimization</h4>
                                            </div>
                                            <div class="service-text">
                                                Using data to improve strategy - Meta Business Suite, Google Analytics,
                                                and A/B testing to fine-tune creative, audience targeting, and
                                                performance.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="one-half width-40 last">                                
                                        <h2 class="entry-title section-title">Services</h2>
                                        <p class="section-info">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in massa consectetur quisque nunc fames.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in massa consectetur quisque. Nunc ac fames lectus in libero aliquet. 
                                        </p>
                                        <p>
                                            Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu. Vitae faucibus diam consequat maecenas. Turpis metus sit diam purus leo in varius ac quam. Nunc amet tristique volutpat adipiscing vulputate phasellus. Volutpat faucibus 
                                        </p>

                                        <div class="button-group-wrapper">
                                            <a class="button">Download CV</a> 
                                            <a href="#portfolio" class="button">Check My Portfolio</a>                                                                   
                                        </div>
                                    </div>                                                                     -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Client Section -->

                <div id="my-clients" class="section">
                    <div class="section-wrapper block">
                        <div class="content-1300 client_site">
                            <h2 class="entry-title section-title" style="text-align: center;">Brands I've worked with
                            </h2>

                            <!-- <div>


                                <p style="font-size: large;">Travel: </p>

                                <p style="font-size: large;">Telecommunications: <b>Mytel , Ananda</b></p>

                                <p style="font-size: large;">Health & Personal Care: <b>Johnson & Johnson , Garnier , pH
                                        Care , ProCare , Best-T</b></p>

                                <p style="font-size: large;">Food & Beverage: <b>Krispy Kreme , MacCoffee , Mamee Noodle
                                        , Dugro</b></p>

                                <p style="font-size: large;">Home & Consumer Goods: <b>Bosch , OAAO</b></p>

                                <p style="font-size: large;">Services: <b>Heguro</b></p>

                            </div> -->

                            <div class="client-flex">
                                <div class="logo-title">
                                    <img src="./img/5.png" alt="">
                                    <!-- <b style="font-size:large;">Krispy Kreme</b> -->
                                </div>

                                <div class="logo-title">
                                    <img src="./img/6.png" alt="">
                                    <!-- <b style="font-size:large;">Emirates</b> -->
                                </div>
                                <div class="logo-title">
                                    <img src="./img/7.png" alt="">
                                    <!-- <b style="font-size:large;">Garnier</b> -->
                                </div>
                                <div class="logo-title">
                                    <img src="./img/8.png" alt="">
                                    <!-- <b style="font-size:large;">pH Care</b> -->
                                </div>
                                <div class="logo-title">
                                    <img src="./img/9.png" alt="">
                                    <!-- <b style="font-size:large;">Mytel</b> -->
                                </div>


                                <div class="logo-title">
                                    <img src="./img/10.png" alt="">
                                    <!-- <b style="font-size:large;">Maybelline</b> -->
                                </div>

                                <div class="logo-title">
                                    <img src="./img/11.png" alt="">
                                    <!-- <b style="font-size:large;">Bosch</b> -->
                                </div>
                                <div class="logo-title">
                                    <img src="./img/12.png" alt="">
                                    <!-- <b style="font-size:large;">Mamee</b> -->
                                </div>
                                <div class="logo-title">
                                    <img src="./img/13.png" alt="">
                                    <!-- <b style="font-size:large;">Johnson & Johnson</b> -->
                                </div>
                                <div class="logo-title">
                                    <img src="./img/14.png" alt="">
                                    <!-- <b style="font-size:large;">Dugro</b> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Portfolio Section -->
                <div id="portfolio" class="section">
                    <div class="section-wrapper block">
                        <div class="content-1300">
                            <div id="portfolio-wrapper" class="relative">
                                <div class="category-filter">
                                    <div class="category-filter-icon"></div>
                                </div>
                                <!-- <div class="category-filter-list button-group filters-button-group">
                                    <div class="button is-checked" data-filter="*">All</div>
                                    <div class="button" data-filter=".text">Text</div>
                                    <div class="button" data-filter=".video">Video</div>
                                    <div class="button" data-filter=".image">Image</div>
                                </div> -->
                                <div class="portfolio-load-content-holder"></div>
                                <div class="grid" id="portfolio-grid">
                                    <div class="grid-sizer"></div>

                                    <div id="p-item-1" class="grid-item element-item p-one-third text">
                                        <a class="item-link" href="portfolio-1.html">
                                            <img src="./img/15 min of Game.png" alt="" />
                                            <div class="portfolio-text-holder">
                                                <div class="portfolio-text-wrapper">
                                                    <p class="portfolio-text">15min Gaming</p>
                                                    <p class="portfolio-cat">Garnier Men</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="p-item-2" class="grid-item element-item p-one-third text">
                                        <a class="item-link" href="portfolio-2.html">
                                            <img src="img/Ethenicuties.png" alt="" />
                                            <div class="portfolio-text-holder">
                                                <div class="portfolio-text-wrapper">
                                                    <p class="portfolio-text">Ethnicuties Series</p>
                                                    <p class="portfolio-cat">Zanrelax</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="p-item-3" class="grid-item element-item p-one-third text">
                                        <a class="item-link" href="portfolio-3.html">
                                            <img src="img/Palmyra Marble.png" alt="" />
                                            <div class="portfolio-text-holder">
                                                <div class="portfolio-text-wrapper">
                                                    <p class="portfolio-text">Digital Marketing Plan</p>
                                                    <p class="portfolio-cat">Palmyra Marble</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="p-item-1" class="grid-item element-item p-one-third text">
                                        <a class="item-link" href="portfolio-4.html">
                                            <img src="img/Who is the idol's valentine.png" alt="" />
                                            <div class="portfolio-text-holder">
                                                <div class="portfolio-text-wrapper">
                                                    <p class="portfolio-text">Idol's Valentine</p>
                                                    <p class="portfolio-cat">Garnier Serum</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="p-item-2" class="grid-item element-item p-one-third text">
                                        <a class="item-link" href="portfolio-5.html">
                                            <img src="./img/IMG_1181 (1).JPG" alt="">
                                            <div class="portfolio-text-holder">
                                                <div class="portfolio-text-wrapper">
                                                    <p class="portfolio-text">Brand Concept</p>
                                                    <p class="portfolio-cat">choco.ootd</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div id="p-item-3" class="grid-item element-item p-one-third text">
                                        <a class="item-link" href="portfolio-6.html">
                                            <img src="img/Go Virtual.png" alt="" />
                                            <div class="portfolio-text-holder">
                                                <div class="portfolio-text-wrapper">
                                                    <p class="portfolio-text">Virtual Launch</p>
                                                    <p class="portfolio-cat">Garnier Men</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>


                                </div>

                                <!-- <p style="text-align: center;">www.zynnhtwe.my_portfolio.wml_work</p> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Resume Section -->
                <div id="resume" class="section">
                    <div class="section-wrapper block">
                        <div class="content-1300">
                            <div class="row">
                                <div class="one-half width-55">
                                    <h2 class="entry-title section-title">Experience</h2>

                                    <ul class="timeline-holder">
                                        <li class="timeline-event">
                                            <span class="timeline-circle"></span>
                                            <div class="timeline-event-content">
                                                <b>Mango Media — Yangon, Myanmar</b><br>
                                                <b>2014 - 2019</b><br>
                                                <p>Job Title: Media Executive</p>
                                                Executed traditional campaigns across radio, print, and events
                                                <br>
                                                Handled media buying and vendor coordination
                                                <br>
                                                Collaborated with creative teams on visuals and messaging
                                                <br>
                                                Used market feedback to guide campaign strategy
                                            </div>
                                            <div class="timeline-event-date">2014 </div>
                                        </li>

                                        <li class="timeline-event">
                                            <span class="timeline-circle"></span>
                                            <div class="timeline-event-content">
                                                <b>Peach Marketing Consultancy — Yangon, Myanmar</b><br>
                                                <b>2020 – 2023</b><br>
                                                <p>Job Title: Digital Marketing Manager / Team Lead</p>
                                                Planned and executed Meta, YouTube, and influencer campaigns with 9M+
                                                reach
                                                <br>
                                                Led media strategy, ad placements, and creative direction for brand
                                                partners
                                                <br>
                                                Managed product seeding and influencer collaborations
                                                <br>
                                                Improved engagement and ROI through audience segmentation and A/B
                                                testing
                                            </div>
                                            <div class="timeline-event-date">2020 </div>
                                        </li>

                                        <li class="timeline-event">
                                            <span class="timeline-circle"></span>
                                            <div class="timeline-event-content">
                                                <b>Palmyra Marble & Granite — Jacksonville, FL</b><br>
                                                <b>2023 – 2024</b><br>
                                                <p>Job Title: Marketing & Admin Coordinatore</p>
                                                Managed social content and visuals for digital platforms
                                                <br>
                                                Updated mobile-responsive website and marketing materials
                                                <br>
                                                Supported administrative operations and client communications

                                            </div>
                                            <div class="timeline-event-date">2023 </div>
                                        </li>

                                        <li class="timeline-event">
                                            <span class="timeline-circle"></span>
                                            <div class="timeline-event-content">
                                                <b>Lutheran Social Services — Jacksonville, FL</b><br>
                                                <b>Years: 2024 – Present</b><br>
                                                <p>Job Title: Client Service Specialist</p>
                                                Created and managed employment outreach campaigns targeting immigrant
                                                communities
                                                <br>
                                                Ran paid social ads on Meta and LinkedIn
                                                <br>
                                                Designed performance reports and tailored content for underserved
                                                audiences

                                            </div>
                                            <div class="timeline-event-date">2024</div>
                                        </li>
                                    </ul>
                                </div>

                                <div>
                                    <h2 class="entry-title section-title">Education & Certification</h2>

                                    <h4>Certification</h4>

                                    <p><b>Program:</b> Professional Digital Marketing Certificate + PCM®
                                        Institution: Digital Marketing Institute + American Marketing Association
                                        Completion: Expected October 2025
                                        <br>
                                        <b>Details:</b>
                                        <br>
                                    </p>

                                    <p>Focus on social media, email marketing, strategy, and analytics

                                        Includes PCM® (Professional Certified Marketer) industry credential
                                    </p>

                                    <h4>Education</h4>

                                    <p>
                                        <b>Degree:</b> Bachelor of Mathematics <br>
                                        <b>Institution:</b> Yangon University — Myanmar <br>
                                        <b>Years:</b> 2012 – 2015
                                    </p>

                                    <div class="cv-button">
                                        <a href="./img/Zynn-Htwe-Resume.pdf" download="ZynnHtwe_CV.pdf">
                                            <button type="button">Download CV</button>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Skills Section -->
                <div id="skills" class="section">
                    <div class="section-wrapper block">
                        <div class="content-1300">
                            <div class="row m-bottom-60">
                                <h2 class="entry-title section-title">Skills</h2>

                                <div class="skill-circle-holder">
                                    <div class="skill-circle">
                                        <div class="skill-circle-wrapper relative" data-value="0.90"
                                            data-color="#f37b83" data-empty-color="#554247">
                                            <span class="skill-circle-num"></span>
                                        </div>
                                        <p class="skill-circle-text">Social Media</p>
                                        <p style="text-align: center;">Meta & Tiktok <br> Ads platform</p>
                                    </div>

                                    <div class="skill-circle">
                                        <div class="skill-circle-wrapper relative" data-value="0.70"
                                            data-color="#f37b83" data-empty-color="#554247">
                                            <span class="skill-circle-num"></span>
                                        </div>
                                        <p class="skill-circle-text">Email Marketing</p>
                                        <p style="text-align: center;">Klaviyo ,Mailchimp & Campaign Flows</p>
                                    </div>

                                    <div class="skill-circle">
                                        <div class="skill-circle-wrapper relative" data-value="0.85"
                                            data-color="#f37b83" data-empty-color="#554247">
                                            <span class="skill-circle-num"></span>
                                        </div>
                                        <p class="skill-circle-text">Content</p>
                                        <p style="text-align: center;">Planning, Caption Writing & Story Telling</p>
                                    </div>

                                    <div class="skill-circle">
                                        <div class="skill-circle-wrapper relative" data-value="0.80"
                                            data-color="#f37b83" data-empty-color="#554247">
                                            <span class="skill-circle-num"></span>
                                        </div>
                                        <p class="skill-circle-text">Visual Branding</p>
                                        <p style="text-align: center;">Brand Kits , Voice & Identity Design</p>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="one-half">
                                    <div class="skills-holder">
                                        <div class="skill-holder">
                                            <div class="skill-text">
                                                <div class="skill">
                                                    <div class="skill-fill" data-fill="90%"></div>
                                                </div>
                                                <span>Creative Tools</span>
                                                <p>Canva , Adobe Suite</p>
                                            </div>
                                            <div class="skill-percent">90%</div>
                                        </div>

                                        <div class="skill-holder">
                                            <div class="skill-text">
                                                <div class="skill">
                                                    <div class="skill-fill" data-fill="75%"></div>
                                                </div>
                                                <span>Analytics Tools</span>
                                                <p>Meta Business Suite . Google Analytics</p>
                                            </div>
                                            <div class="skill-percent">75%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="one-half last">
                                    <div class="skills-holder sec-skills-holder">
                                        <div class="skill-holder">
                                            <div class="skill-text">
                                                <div class="skill">
                                                    <div class="skill-fill" data-fill="80%"></div>
                                                </div>
                                                <span>influencer Collabs</span>
                                                <p>Outreach . Seeding . Management</p>
                                            </div>
                                            <div class="skill-percent">80%</div>
                                        </div>

                                        <div class="skill-holder">
                                            <div class="skill-text">
                                                <div class="skill">
                                                    <div class="skill-fill" data-fill="70%"></div>
                                                </div>
                                                <span>Google Ads</span>
                                                <p>Search . Display . Optimization - </p>
                                            </div>
                                            <div class="skill-percent">70%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact Section -->
                <div id="contact" class="section contact-section">
                    <div class="section-wrapper block">
                        <div class="content-1300">
                            <div class="row">
                                <h2 class="entry-title section-title">Get in touch</h2>

                                <div class="contact-flex">
                                    <div class="one-half width-40">

                                        <p class="section-info">
                                            Whether you're looking to collaborate, hire, or just connect — I'm always
                                            open
                                            to new opportunities. Let's chat about how we can bring your ideas to life.
                                        </p>
                                        
                                        <p>
                                            <b>EMAIL:</b> zynn.htwe@gmail.com <br>
                                            <b>PHONE:</b> +1 (904) 305-0958 <br>

                                            <b>LINKEDIN : </b><a href=" https://www.linkedin.com/in/zynn-htwe" style="color: grey;">
                                                Click Here</a><br>
                                        </p>
                                    </div>

                                    <img class="last-image" src="img/IMG_2010.JPG" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="main-footer">
                    <span>@2025 Zynn Htwe. All rights reserved.</span>
                </footer>

            </div>
        </div>
    </div>

    <!--Load JavaScript-->
    <script src="js/jquery.js"></script>
    <script src='js/imagesloaded.pkgd.js'></script>
    <script src='js/jquery.prettyPhoto.js'></script>
    <script src='js/isotope.pkgd.js'></script>
    <script src='js/jquery.smartmenus.min.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/circle-progress.min.js'></script>
    <script>
        // Page Counter Functionality
        document.addEventListener('DOMContentLoaded', function() {
            const sections = ['home', 'service', 'my-clients', 'portfolio', 'resume', 'skills', 'contact'];
            const totalPages = sections.length;
            let currentPage = 1;
            
            // Set total pages
            document.getElementById('total-pages').textContent = totalPages.toString().padStart(2, '0');
            
            // Update page counter when scrolling
            function updatePageCounter() {
                const scrollPosition = window.scrollY + 100; // Adding offset for better detection
                
                sections.forEach((section, index) => {
                    const element = document.getElementById(section);
                    if (element) {
                        const rect = element.getBoundingClientRect();
                        if (rect.top <= window.innerHeight / 2 && rect.bottom >= window.innerHeight / 2) {
                            currentPage = index + 1;
                            document.getElementById('current-page').textContent = currentPage.toString().padStart(2, '0');
                        }
                    }
                });
            }
            
            // Initial update
            updatePageCounter();
            
            // Update on scroll
            window.addEventListener('scroll', updatePageCounter);
            
            // Update on section navigation
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function(e) {
                    const href = this.getAttribute('href');
                    if (href !== '#' && href !== '') {
                        const sectionId = href.substring(1);
                        const sectionIndex = sections.indexOf(sectionId);
                        if (sectionIndex !== -1) {
                            currentPage = sectionIndex + 1;
                            document.getElementById('current-page').textContent = currentPage.toString().padStart(2, '0');
                        }
                    }
                });
            });
        });
    </script>
    <script src='js/main.js'></script>
</body>

</html>