<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>ZH's Portfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Template by CocoBasic" />
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
    <meta name="author" content="CocoBasic" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="shortcut icon" href="images/favicon.ico" /> -->
    <link rel="shortcut icon" href="./img/ZH.png" />
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='style.css' />

    <!--[if lt IE 9]>
                <script src="js/html5.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->
</head>

<body class="single-portfolio">

    <!-- Preloader Gif -->
    <div class="doc-loader"></div>


    <div id="content" class="site-content">

        <div class="content-left">
            <div class="content-left-wrapper">
                <header>
                    <!-- <div class="toggle-holder">
                        <div id="toggle">
                            <div class="menu-line"></div>
                        </div>
                    </div> -->

                    <div class="portfolio-nav">
                        <div class="portfolio-nav-title"></div>
                        <ul class="portfolio-nav-list">
                            <li><a href="portfolio-1.html" class="active"> 15min Gaming</a></li>
                            <li><a href="portfolio-2.html"> Ethnicuties Series</a></li>
                            <li><a href="portfolio-3.html"> Digital Marketing Plan</a></li>
                            <li><a href="portfolio-4.html"> Idol's Valentine</a></li>
                            <li><a href="portfolio-5.html"> Brand Concept</a></li>
                            <li><a href="portfolio-6.html"> Virtual Launch</a></li>
                        </ul>
                    </div>

                    <div class="menu-holder">
                        <div class="menu-wrapper relative">
                            <nav id="header-main-menu">
                                <ul class="main-menu sm sm-clean">
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#service">Services</a></li>
                                    <li><a href="#my-clients">Clients</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#resume">Resume</a></li>
                                    <li><a href="#skills">Skills</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <img class="my-info-signature" src="img/signature.png" alt="" />

                    
                </header>
            </div>

        </div>

        <div class="content-right">
            <div class="content-right-wrapper">
                <div class="section">
                    <div class="section-wrapper block">
                        <div class="portfolio-item-wrapper center-relative">
                            <div class="portfolio-content">
                                <div class="close-icon"></div>
                                <div class="row portfolio-1-box">
                                    <div class="one-half left-box">

                                        <h2 class="entry-title section-title">Who is Idol’s Valentine?
                                        </h2>

                                        <p>
                                            Tactical Branding - Video Production
                                        </p>

                                        <p>
                                            <b>Objective : </b><br>

                                            Promote a lifestyle-driven skincare campaign themed around self-love and
                                            emotional connection, aiming to reach 30% social impressions of TA and
                                            generate a 10% engagement rate among women aged 18–35 within 2 weeks through
                                            romantic visual storytelling and influencer content.

                                        </p> 
                                    </div>

                                    <div class="one-half right-box">


                                        <p>
                                            DATE: <br>
                                            <b>Sep 2021</b>
                                        </p>

                                        <p>
                                            CLIENT: <br>
                                            <b>Garnier Men</b>
                                        </p>

                                        <p>
                                            ROLE: <br>
                                            <b>DMS</b>
                                        </p>
                                    </div>
                                </div>

                                <div class="portfolio_img4">
                                    <img src="./img/por4-1.jpg" alt="">

                                    <div>
                                        <p>
                                            <b>Tactics & Engagement Strategy:</b><br>

                                            We invited audiences to tag someone they love in the comments and
                                            share the campaign video on that person’s timeline, creating
                                            emotionally driven peer-to-peer engagement. Winners were selected at
                                            random to receive branded gifts, boosting participation. Romantic
                                            visuals and soft storytelling reinforced the theme of love,
                                            positioning the brand as warm, personal, and emotionally connected.

                                        </p>
                                    </div>
                                </div>

                                <div class="portfolio_img4">
                                    <img src="./img/por4-2.jpg" alt="">

                                    <div>
                                        <p>
                                                <b>Campaign Results & Brand Impact:</b><br>

                                        <ul style="list-style-type: disc;">
                                            <li>2.5 million video views</li>
                                            <li>90,000+ engagements, with 95% positive sentiment</li>
                                            <li>32% of comments and shares reflected purchase intent or brand positivity</li>
                                            <li>Product inquiries doubled, and Messenger engagement spiked</li>
                                            <li>Post shares increased 4x, expanding the organic reach of the campaign</li>
                                            <li>Received over 600 meaningful comments where users tagged someone they love and declared them their Valentine</li>
                                            <li>High shareability as participants posted the video on their loved one's timeline, increasing organic visibility</li>
                                            <li>Broke tStrong resonance with women aged 18–35, aligning with the campaign's emotional tone</li>
                                            <li>Successfully positioned the brand as thoughtful and emotionally engaging</li>
                                            <li>Helped redefine skincare as a gesture of love and connection, not just personal care</li>
                                        </ul>

                                        </p>
                                    </div>
                                </div>

                                <div class="portfolio-4-content">
                                    <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin: 20px 0;">
                                        <iframe src="https://www.youtube.com/embed/S7TzXqtoW9E" 
                                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;" 
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Load JavaScript-->
    <script src="js/jquery.js"></script>
    <script src='js/imagesloaded.pkgd.js'></script>
    <script>
        // Add click handler for close icon
        $(document).ready(function() {
            $('.close-icon').on('click', function() {
                window.location.href = 'index.html#portfolio';
            });
        });
    </script>
    <script src='js/jquery.prettyPhoto.js'></script>
    <script src='js/isotope.pkgd.js'></script>
    <script src='js/jquery.smartmenus.min.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/circle-progress.min.js'></script>
    <script src='js/main.js'></script>
</body>

</html>